$cyan: rgb(167, 243, 243);
$cyan2: rgb(67, 247, 247);
$branco: #fff;
$cinza: rgb(197, 189, 189);
$cinza2: rgb(133, 130, 130);
$anil: rgb(33, 101, 248);
$verde: rgb(10, 112, 10);
$primary: rgb(23, 47, 83);
$secundary: rgb(215, 227, 230);
$tertiary: rgb(248, 251, 252);