$cyan: rgb(167, 243, 243);
$cyan2: rgb(67, 247, 247);
$branco: #fff;
$cinza: rgb(197, 189, 189);
$cinza2: rgb(133, 130, 130);
$anil: rgb(33, 101, 248);
$verde: rgb(10, 112, 10);
$primary: rgb(92, 6, 100);
$secundary: rgb(219, 42, 235);
$tertiary: rgb(243, 173, 250);